<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>忆生活</title>

</head>

<body>


<div class="container">

	<div class="blog-header">
		<p class="lead blog-description">给自己一个机会，回归那一片宁静~</p>
	</div>

	<div class="row">

		<div class="col-sm-8 blog-main">

			<div class="blog-post">
				<div><h2 class="blog-post-title" th:text="${daily.getTitle()}"></h2><a class="blog-edit" th:unless="${#httpServletRequest.session.getAttribute('userDto') == null}" th:href="@{'/daily/modify/'+${daily.getId()}}">修改</a></div>
				<p class="blog-post-meta" th:text="${daily.getCreateTime()}"></p>
				<p th:utext="${daily.getContent()}"></p>
			</div><!-- /.blog-post -->

			<nav>
				<ul class="pager">
					<li><a href="#" th:href="@{'/daily/view/'+${daily.getId()-1}}">上一篇</a></li>
					<li><a href="#" th:href="@{'/daily/view/'+${daily.getId()+1}}">下一篇</a></li>
				</ul>
			</nav>

		</div><!-- /.blog-main -->

		<div th:replace="~{fragments/right :: right}"></div>

	</div><!-- /.row -->

</div><!-- /.container -->
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</body>
</html>
