<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.CategoryMapper">
    <select id="getCategoryById" resultType="category" parameterType="long">
         select * from blog_category_diary cg where cg.id = #{id}
    </select>
    <select id="getCategoryList" resultType="category">
         select * from blog_category_diary cg
    </select>

    <insert id="insertCategory" parameterType="xyz.yescn.blog.dto.CategoryDto" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO blog_category_diary (cg_name,cg_desc, cg_create_time, cg_sort)
		VALUES (#{name},#{desc},#{createTime},#{sort})
	</insert>

    <update id="updateCategory" parameterType="xyz.yescn.blog.dto.CategoryDto">
         update blog_category_diary cg set cg.cg_name = #{name} where cd.cg_id = #{id}
    </update>

    <delete id="deleteCategory" parameterType="long">
       delete from blog_category_diary cg where cg.cg_id = #{id}
    </delete>
</mapper>