<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.CommentMapper">
    <resultMap type="xyz.yescn.blog.domain.Comment" id="commentResultMap">
        <id column="CM_ID" property="id"/>
        <result column="CM_CONTNET" property="content"/>
        <result column="CM_CREATE_TIME" property="createTime"/>
        <result column="CM_DAILY_ID" property="dailyId"/>
        <result column="CM_PID" property="pid"/>
    </resultMap>
    <select id="getCommentById" resultMap="commentResultMap" parameterType="long">
        select cg.CM_ID,cg.CM_CONTNET,cg.CM_CREATE_TIME,cg.CM_DAILY_ID,cg.CM_PID from category cg where cg.CM_ID = #{id}
    </select>

    <select id="getCommentList" resultMap="commentResultMap">
        select cg.CM_ID,cg.CM_CONTNET,cg.CM_CREATE_TIME,cg.CM_DAILY_ID,cg.CM_PID from category cg where cg.CM_DAILY_ID = #{dailyId}
    </select>

    <insert id="insertComment" parameterType="xyz.yescn.blog.dto.CommentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_comment (CM_CONTNET,CM_CREATE_TIME, CM_DAILY_ID,CM_PID,CM_UR_ID)
        VALUES (#{content},#{createTime},#{dailyId},#{pid},#{urId})
    </insert>

    <update id="updateComment" parameterType="xyz.yescn.blog.dto.CommentDto">
        update blog_comment  set  CM_CONTNET = 'CM_CONTNET' ,CM_CREATE_TIME = 'CM_CREATE_TIME' where CM_ID = #{id}
    </update>

    <delete id="deleteComment" parameterType="long">
        delete from blog_comment cg where cg.CM_ID = #{id}
    </delete>
</mapper>