<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.DailyMapper">
    <resultMap type="xyz.yescn.blog.domain.Daily" id="dailyResultMap">
        <id column="DR_ID" property="id"/>
        <result column="DR_TITLE" property="title"/>
        <result column="DR_CONTENT" property="content"/>
        <result column="DR_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="DR_CG_ID" property="cgId"/>
        <result column="UR_ID" property="urId"/>
        <result column="DR_TAG" property="tag"/>
    </resultMap>

    <select id="getDailyById" resultMap="dailyResultMap" parameterType="long">
        select DR_ID,DR_TITLE,DR_CONTENT,DR_CREATE_TIME,DR_CG_ID,UR_ID,DR_TAG from blog_diary cg where cg.DR_ID = #{id}
    </select>
    <select id="getDailyList" resultMap="dailyResultMap">
        select DR_ID,DR_TITLE,DR_CONTENT,DR_CREATE_TIME,DR_CG_ID,UR_ID,DR_TAG from blog_diary cg ORDER by cg.DR_CREATE_TIME DESC
    </select>

    <insert id="insertDaily" parameterType="xyz.yescn.blog.dto.DailyDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_diary (DR_TITLE,DR_CONTENT,DR_CREATE_TIME,DR_CG_ID,DR_UPDATE_TIME,UR_ID,DR_TAG)
        VALUES (#{title},#{content},#{createTime},#{cgId},#{updateTime},#{urId},#{tag})
    </insert>

    <update id="updateDaily" parameterType="xyz.yescn.blog.dto.DailyDto">
        update blog_diary  set DR_TITLE =  #{title} , DR_CONTENT =  #{content}, DR_UPDATE_TIME =  #{updateTime} where DR_ID = #{id}
    </update>

    <delete id="deleteDaily" parameterType="long">
        delete from blog_diary cg where cg.DR_ID = #{id}
    </delete>
</mapper>