<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.PictureMapper">
    <resultMap type="xyz.yescn.blog.domain.Picture" id="pictureResultMap">
        <id column="PT_ID" property="id"/>
        <result column="PT_URL" property="url"/>
        <result column="PT_DESCRIPTION" property="description"/>
        <result column="PT_CREATE_TIME" property="createTime"/>
        <result column="PT_DAILY_ID" property="dailyId"/>
    </resultMap>

    <select id="getPictureById" resultMap="pictureResultMap" parameterType="long">
        select PT_ID,PT_URL,PT_DESCRIPTION,PT_CREATE_TIME,PT_DAILY_ID from blog_picture cg where cg.PT_ID = #{id}
    </select>
    <select id="getPictureList" resultMap="pictureResultMap" parameterType="long">
        select PT_ID,PT_URL,PT_DESCRIPTION,PT_CREATE_TIME,PT_DAILY_ID from blog_picture cg where cg.PT_DAILY_ID = #{dailyId}
    </select>

    <insert id="insertPicture" parameterType="xyz.yescn.blog.dto.PictureDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_picture (PT_URL,PT_DESCRIPTION,PT_CREATE_TIME,PT_DAILY_ID)
        VALUES (#{url},#{description},#{createTime},#{dailyId})
    </insert>

    <update id="updatePicture" parameterType="xyz.yescn.blog.dto.PictureDto">
        update blog_picture cg set PT_DESCRIPTION = #{description} , PT_CREATE_TIME = #{createTime} 	  where cd.PT_ID = #{id}
    </update>

    <delete id="deletePicture" parameterType="long">
        delete from blog_picture cg where cg.PT_ID = #{id}
    </delete>
</mapper>