<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.UserMapper">
    <resultMap type="xyz.yescn.blog.domain.User" id="userResultMap">
        <id column="UR_ID" property="id"/>
        <result column="UR_NAME" property="name"/>
        <result column="UR_PHONE" property="phone"/>
        <result column="UR_DESCRIPTION" property="description"/>
        <result column="UR_STATUS" property="status"/>
        <result column="UR_CREATE_TIME" property="createTime"/>
    </resultMap>

    <select id="getUserById" resultMap="userResultMap" parameterType="long">
        select UR_ID,UR_NAME,UR_PHONE,UR_DESCRIPTION,UR_STATUS,UR_CREATE_TIME from blog_user ur where ur.UR_ID = #{id}
    </select>

    <select id="getLoginUserByToKen" resultMap="userResultMap" parameterType="string">
        select UR_ID,UR_NAME,UR_PHONE,UR_DESCRIPTION,UR_STATUS,UR_CREATE_TIME from blog_user cg where cg.ur_toKen = #{toKen}
    </select>

    <select id="getUserByNameAndPassword" resultMap="userResultMap" parameterType="string">
        select UR_ID,UR_NAME,UR_PHONE,UR_DESCRIPTION,UR_STATUS,UR_CREATE_TIME from blog_user cg where cg.UR_NAME = #{name} and cg.UR_PASSWORD = #{password}
    </select>

    <select id="getUserList" resultMap="userResultMap">
        select UR_ID,UR_NAME,UR_PHONE,UR_DESCRIPTION,UR_STATUS,UR_CREATE_TIME from blog_user ur
    </select>

    <insert id="insertUser" parameterType="xyz.yescn.blog.dto.UserDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_user (UR_NAME,UR_PASSWORD,UR_PHONE,UR_DESCRIPTION,UR_STATUS,UR_CREATE_TIME)
        VALUES (#{name},#{password},#{phone},#{description},#{status},#{createTime})
    </insert>

    <update id="updateUser" parameterType="xyz.yescn.blog.dto.UserDto">
        update blog_user cg set cg.ur_name = #{name} where cg.ur_id = #{id}
    </update>

    <delete id="deleteUser" parameterType="long">
        delete from blog_user where ur_id = #{id}
    </delete>
</mapper>