<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是命名空间，作用sql语句的隔离，后面还有重要作用 #{}作用就是占位符，相当于jdbc的“?” parameterType：查询的参数类型
    resultType：查询结果的数据类型，如果给pojo应该给全路径。 -->
<!-- mapper代理的开发规则：
    1、namespace必须时候接口的全限定名
    2、Statementid必须和接口的方法名称一致
    3、接口方法的参数类型要和parameterType要一致
    4、接口方法的返回值类型要和resultType一致
-->
<mapper namespace="xyz.yescn.blog.dao.UserMapper">
    <select id="getUserById" resultType="user" parameterType="long">
        select ur_id as id,ur_name as userName from blog_user ur where ur.ur_id = #{id}
    </select>

    <select id="getLoginUserByToKey" resultType="user" parameterType="long">
        select * from blog_user cg where cg.ur_toKey = #{toKey}
    </select>

    <select id="getUserList" resultType="user">
        select ur_id as id,ur_name as userName from blog_user ur
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_user (ur_name,ur_password)
        VALUES (#{name},#{password})
    </insert>

    <update id="updateUser" parameterType="xyz.yescn.blog.dto.UserDto">
        update blog_user cg set cg.ur_name = #{name} where cg.ur_id = #{id}
    </update>

    <delete id="deleteUser" parameterType="long">
        delete from blog_user where ur_id = #{id}
    </delete>
</mapper>