<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
<footer class="blog-footer bg-inverse" th:fragment="footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
    <script src="../../assets/js/ie8-responsive-file-warning.js" th:src="@{/assets/js/ie8-responsive-file-warning.js}"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js" th:src="@{/assets/js/ie-emulation-modes-warning.js}"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js" th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"　th:src="@{/assets/js/vendor/jquery.min.js}"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
  </footer>
</body>
</html>