<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="header">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">
    <link href="../../css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css"
          th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->

</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#" th:href="@{/}">首页</a>
            <a class="blog-nav-item" href="#" th:href="@{/daily/manager}">日志</a>
            <a class="blog-nav-item" href="#" th:href="@{/picture/list}">相册</a>
            <a class="blog-nav-item" href="#" th:href="@{/technology/list}">技术</a>
            <a class="blog-nav-item" href="#" th:href="@{/user}">用户</a>
            <a class="blog-search-btn" th:if="${#httpServletRequest.session.getAttribute('userDto') == null}" th:href="@{/login}">登陆</a>
            <a class="blog-search-btn" th:if="${#httpServletRequest.session.getAttribute('userDto') != null}" th:href="@{/logout}">退出</a>

        </nav>
    </div>
</div>
</body>
</html>