<right th:fragment="footer">
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>忆生活</h4>
            <p><em>持续完善中,每月更新一版~</em></p>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>日志归档</h4>
            <ol class="list-unstyled">
                <li><a href="#">2019 年 １月</a></li>
                <li><a href="#">2019 年 ２月</a></li>
                <li><a href="#">2019 年 ３月</a></li>
                <li><a href="#">2019 年 ４月</a></li>
                <li><a href="#">2019 年 ５月</a></li>
                <li><a href="#">2019 年 ６月</a></li>
                <li><a href="#">2019 年 ７月</a></li>
                <li><a href="#">2019 年 ８月</a></li>
                <li><a href="#">2019 年 ９月</a></li>
                <li><a href="#">2019 年 10月</a></li>
                <li><a href="#">2019 年 11月</a></li>
                <li><a href="#">2019 年 12月</a></li>
            </ol>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
                <li><a href="http://github.com/heibaoshetuan/" target="_blank">GitHub</a></li>
                <li><a href="http://mail.163.com" target="_blank">网易邮箱</a></li>
                <li><a href="http://www.ifeng.com" target="_blank">凤凰网</a></li>
            </ol>
        </div>
    </div><!-- /.blog-sidebar -->
</right>