<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

<!-- Page content -->
<div class="container blog-content-container"> 
	<h3 th:text="${userModel.title}">Gavin_Wang</h3>
	<div>
		<a class="btn btn-default" href="/admin/users/form" th:href="@{/admin/users/form}">创建用户</a>
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<td>ID</td>
			<td>名称</td>
			<td>创建时间</td>
			<td colspan="2" align="center">操作</td>
		</tr>
		</thead>
		<tbody>
		<tr th:if="${userModel.userList.size()} eq 0">
			<td colspan="5">没有用户信息！</td>
		</tr>
		<tr th:each="user : ${userModel.userList}">
			<td th:text="${user.getId()}"></td>
			<td th:text="${user.getName()}"></td>
			<td ><a th:text="${user.getCreateTime()}"></a></td>
			<td ><a th:href="@{'/admin/users/modify/'+${user.getId()}}" th:text="修改"></a></td>
			<td ><a th:href="@{'/admin/users/delete/'+${user.getId()}}" th:text="删除"></a></td>
		</tr>
		</tbody>
	</table>

</div><!-- /.container -->

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>