<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page content -->
<div class="container blog-content-container"> 

	<h3 th:text="${title}">用户注册</h3>
	<form action="/registry" th:action="@{/registry}" method="POST" th:object="${user}">
		名称：<br>
		<input type="text" class="form-control" name="name" th:value="*{name}" >
		密码：<br>
		<input type="password" class="form-control" name="password" th:value="*{password}">
		手机：<br>
		<input type="text" class="form-control" name="phone" th:value="*{phone}">
		<input type="submit" class="btn btn-default" value="提交">
	</form>
	<label class="sr-only" th:text="${error}"></label>
</div><!-- /.container -->

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>